stackscript_label: 'mj3romin/stage1' 
api_token: 'dabdbabcXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX86b845a79c11c'
git_repo: 'git@github.com:mjeromin/linode-provisioning.git' 
git_branch: 'production'
git_access_key64: 'LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXdHJ3T05VktLS0tLQo='
vault_password: 'abcdef123456' 
virtual_machines:
    - name: 'vm1'
      size: 'g6-nanode-1'
      region: 'us-east'
      image: 'linode/fedora28'

    - name: 'vm2'
      size: 'g6-nanode-1'
      region: 'us-east'
      image: 'linode/fedora28'

