# Optional lookup tables with the Postfix SMTP client TLS security policy by next-hop destination
# For details, see: http://www.postfix.org/postconf.5.html#smtp_tls_policy_maps
{{ postfix_smtp_tls_policy }}
