
# The controlled_envelope_senders table specifies the binding between a sender
# envelope address and the SASL login names that own that address.
#
# For details, see: http://www.postfix.org/SASL_README.html
{{ postfix_controlled_envelope_senders }}
